In [20]:
import pandas as pd 

rock_samples = pd.read_csv('data/rocksamples.csv')

rock_samples['Weight (g)'] = rock_samples['Weight (g)'].apply(lambda x : x / 1000)
rock_samples.rename(columns={'Weight (g)':'Weight (kg)'}, inplace=True)
rock_samples.head()
# rock_samples.info()

      ID   Mission    Type   Subtype  Weight (kg)  Pristine (%)
0  10001  Apollo11    Soil  Unsieved        125.8         88.36
1  10002  Apollo11    Soil  Unsieved       5629.0         93.73
2  10003  Apollo11  Basalt  Ilmenite        213.0         65.56
3  10004  Apollo11    Core  Unsieved         44.8         71.76
4  10005  Apollo11    Core  Unsieved         53.4         40.31